<!-- Banner -->

<div id="banner-area" class="banner-area" style="background-image:url(/images/banner/banner3.jpg)">
  <div class="banner-text">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">Applications</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a href="/applications">Home</a></li>
                      <li class="breadcrumb-item"><a href="/applications">Applications</a></li>
                      <li class="breadcrumb-item"><a href="/applications/payment">Payments</a></li>
                    </ol>
                </nav>
              </div>
          </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end --> 

<!-- Body -->

<section id="main-container" class="main-container">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2>Hi {{name}},</h2>
                <br>
                <h2 class="section-title">Here are your current</h2>
                <h3 class="section-sub-title">University Applications</h3>
            </div>
        
        <div class="col s12 m7" style="margin-bottom: 2rem;">
            <div class="card horizontal">
            <div class="card-stacked white-text">
                {{#unless userProfileExists}}
                    <div class="bg-danger text-light">
                    <p><b>You have not filled in your profile details yet. Use SingPass' MyInfo to fill it up!</b></p>
                    </div>
                {{/unless}}
                <div class="card-action">
                    {{#if userProfileExists}}
                    <a href="/profile">
                        <div class="card">
                            <div class="card-body">Edit Profile</div>
                        </div>
                    </a>
                    {{else}}
                    <a class="red-text" href="/profile">Go to Profile</a>
                    {{/if}}
                </div>
            </div>
            </div>
        </div>
    </div>
    <br>

 <!--/ Title row end -->
    <input type="hidden" name="userid" id="userid" value={{userId}}>
    <!-- Body -->
    <div class="row">
        <div class="container" id="applied">
            <h3 class="status">Applied Courses</h3>

            {{#if paidApplications.applications}}
            <div class="row">
                {{#each paidApplications.applications}}
                <div class="col-lg-4 col-md-6">
                <div class="ts-pricing-box ts-pricing-featured">
                    <div class="ts-pricing-header">
                    <h2 class="ts-pricing-price">
                        <span class="status">{{university}}</span>
                    </h2>
                    <h3 class="ts-pricing-name">
                        <span class="status">Applied Courses</span>
                    </h3>
                    </div><!-- Pricing header -->
                    <div class="ts-pricing-features">
                        <ul class="list-unstyled" id="courses_applied">
                            <li>{{course1}}</li>
                            <li>{{course2}}</li>
                            <li>{{course3}}</li>
                        </ul>
                    </div>
                </div><!-- Plan 2 end -->
                </div><!-- Col end -->
                {{/each}}
            </div>
            {{else}}
            <p>You have not submitted any application yet.</p>
            {{/if}}
        </div>

        <div class="container" id="outstanding_payments">

            <div class="payment-section">
                <div class="element-left"><h3 class="status">Outstanding payments</h3></div>
                <!-- Button to toggle between pay for INDIVIDUAL applications or ALL TOGETHER -->
                <div class="toggle" class="element-right" data-toggle="tooltip" data-placement="top" title="Toggle between paying individually or together."> 
                    <input type="checkbox" id="switch" /><label class="toggle-label" for="switch" id="label-toggle">Toggle</label>
                </div>
            </div>

            {{#if unpaidApplications.applications}}
                <table class="table table-hover" id="individualApps">
                    <thead>
                        <tr>
                        <th>University</th>
                        <th>Last Modified</th>
                        <th>Fee (SGD)</th>
                        <th>Pay</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each unpaidApplications.applications}}
                    <tr>
                        <td>
                            <span data-toggle="tooltip" data-placement="right" title="Course 1: {{course1}}, Course 2: {{course2}}, Course 3: {{course3}}">
                                {{#ifEquals university "NUS"}}
                                National University of Singapore
                                {{/ifEquals}}
                                {{#ifEquals university "NTU"}}
                                Nanyang Technological University
                                {{/ifEquals}}
                                {{#ifEquals university "SMU"}}
                                Singapore Management University
                                {{/ifEquals}}
                                {{#ifEquals university "SIT"}}
                                Singapore Institute of Technology
                                {{/ifEquals}}
                                {{#ifEquals university "SUSS"}}
                                Singapore University of Social Sciences
                                {{/ifEquals}}
                                {{#ifEquals university "SUTD"}}
                                Singapore University of Technology and Design
                                {{/ifEquals}}
                            </span>
                        </td>
                        <td>{{modified}}</td>
                        <td id="uni_fee">
                            {{#ifEquals university "NUS"}}
                            $10
                            {{/ifEquals}}
                            {{#ifEquals university "NTU"}}
                            $21.40
                            {{/ifEquals}}
                            {{#ifEquals university "SMU"}}
                            $15
                            {{/ifEquals}}
                            {{#ifEquals university "SIT"}}
                            $18
                            {{/ifEquals}}
                            {{#ifEquals university "SUSS"}}
                            $15
                            {{/ifEquals}}
                            {{#ifEquals university "SUTD"}}
                            $0
                            {{/ifEquals}}
                        </td>
                        <td>
                            {{#ifEquals university "NUS"}}
                            <button type="button" class="btn btn-outline-danger payment-btn" value="NUS" price="10" appId={{application_id}} data-toggle="modal" data-target="#exampleModalCenter">Pay</button>
                            {{/ifEquals}}
                            {{#ifEquals university "NTU"}}
                            <button type="button" class="btn btn-outline-danger payment-btn" value="NTU" price="21.40" appId={{application_id}} data-toggle="modal" data-target="#exampleModalCenter">Pay</button>
                            {{/ifEquals}}
                            {{#ifEquals university "SMU"}}
                            <button type="button" class="btn btn-outline-danger payment-btn" value="SMU" price="15" appId={{application_id}} data-toggle="modal" data-target="#exampleModalCenter">Pay</button>
                            {{/ifEquals}}
                            {{#ifEquals university "SIT"}}
                            <button type="button" class="btn btn-outline-danger payment-btn" value="SIT" price="18" appId={{application_id}} data-toggle="modal" data-target="#exampleModalCenter">Pay</button>
                            {{/ifEquals}}
                            {{#ifEquals university "SUSS"}}
                            <button type="button" class="btn btn-outline-danger payment-btn" value="SUSS" price="15" appId={{application_id}} data-toggle="modal" data-target="#exampleModalCenter">Pay</button>
                            {{/ifEquals}}
                            {{#ifEquals university "SUTD"}}
                            <button type="button" class="btn btn-outline-danger payment-btn" value="SUTD" price="0" appId={{application_id}} data-toggle="modal" data-target="#exampleModalCenter">Pay</button>
                            {{/ifEquals}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
                </table>

                <!-- Pay all fees together -->
                <table class="table table-hover" id="allApps" style="display:none">
                    <thead>
                        <tr>
                            <th>University</th>
                            <th>Last Modified</th>
                            <th>Fee (SGD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each unpaidApplications.applications}}
                        <tr>
                        <td data-toggle="tooltip" data-placement="right" title="Course 1: {{course1}}, Course 2: {{course2}}, Course 3: {{course3}}">
                            {{#ifEquals university "NUS"}}
                            National University of Singapore
                            {{/ifEquals}}
                            {{#ifEquals university "NTU"}}
                            Nanyang Technological University
                            {{/ifEquals}}
                            {{#ifEquals university "SMU"}}
                            Singapore Management University
                            {{/ifEquals}}
                            {{#ifEquals university "SIT"}}
                            Singapore Institute of Technology
                            {{/ifEquals}}
                            {{#ifEquals university "SUSS"}}
                            Singapore University of Social Sciences
                            {{/ifEquals}}
                            {{#ifEquals university "SUTD"}}
                            Singapore University of Technology and Design
                            {{/ifEquals}}
                        </td>
                        <td>{{modified}}</td>
                        <td id="uni_fee">
                            {{#ifEquals university "NUS"}}
                            $10
                            {{/ifEquals}}
                            {{#ifEquals university "NTU"}}
                            $21.40
                            {{/ifEquals}}
                            {{#ifEquals university "SMU"}}
                            $15
                            {{/ifEquals}}
                            {{#ifEquals university "SIT"}}
                            $18
                            {{/ifEquals}}
                            {{#ifEquals university "SUSS"}}
                            $15
                            {{/ifEquals}}
                            {{#ifEquals university "SUTD"}}
                            $0
                            {{/ifEquals}}
                        </td>
                        {{/each}}
                        <tr>
                            <td colspan="3">
                                <button type="button" class="btn btn-outline-danger btn-block payment-all-btn" value="Pay for all applications" price="" data-toggle="modal" data-target="#exampleModalCenter">Pay All</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {{else}}
            <p>You don't have any outstanding payments.</p>
            {{/if}}
        </div>

    <div class="col-12">
        <div class="general-btn text-center">
            <a class="btn btn-danger" href="/applications/apply">New Application</a>
        </div>
    </div>

    <div class="content" style="display: none !important;">
			<div class="spinner">
				<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="8" cy="8" r="7" stroke-width="2"/>
				</svg>
			</div>
		</div>

    <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Make Payment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Paypal -->
            <div class="container">
            <div class="modal-content animate">
                <div class="container">
                <!-- Paypal API -->
                <div id="smart-button-container">
                    <div style="text-align: center;">
                    <div style="margin-bottom: 1.25rem;">
                        <h4><span id="display-school"></span></4>
                        <p>Application ID: <span id="display-appId"></span></p>
                        <p>Fee (SGD): $<span id="display-price"></span></p>
                        <select style="visibility: hidden" id="quantitySelect"></select>
                    </div>
                    <div id="paypal-button-container"></div>
                    </div>
                </div>
                <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=SGD" data-sdk-integration-source="button-factory"></script>
                
                </div>
            </div>
            </div>

            <div class="container">
                <div id="modal2" class="modal">
                    <div class="modal-content animate">

                    <div class="container">
                    
                        <label for="uname"><b>Payment successfully made!</b></label>
                        <p class="cd-signin-modal__message">Check your email inbox for email confirmation.</p>
                        
                        <button type="submit" onclick="back()">Back to User Page</button>
                
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        <!-- initialize jQuery Library -->
        <script src="/jquery/jquery.min.js"></script>
        <script src="/js/payment.js"></script>
        </div>
    </div>
  </div>
    <!--/ Container end -->
</section><!-- Project area end -->